a {
  text-decoration: none;
}

.item-course {
  text-align: center;
}

ion-footer-bar.footer-button a.button.button-full {
  width:100%;
  margin-top: 0
}

.feed-toggle {
  float:right;
}

.button.button-block {
  margin:0;
}

.alert-button {
  position: fixed;
  float: right;
  right: 25px;
  text-decoration: none;
}

.arrow-button {
  position: absolute;
  top: 2px;
  right: 0;
  font-size: 14px;
  text-decoration: none;
}

.toggle {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* formats entry text and user search bar */
.bar.item-input-inset .item-input-wrapper input {
  width: 99%;
  padding-left: 0;
}

.item-input-inset {
  padding: 5px;
}

.wrapper-color {
  background-color: white;
}

.text-input {
  display: inline-flex;
  width: 100%;
}

.like-button {
  position: absolute;
  top: 10px;
  right: -5px;
  font-size: 14px;
}

.load-meetup {
  position: absolute;
  top: 5px;
  right: 0;
}

.classmates {
  text-align: center;
  background-color: #4a87ee;
  color: white;
}

.input-label {
  color: #4a87ee;
}

.item-stacked-label {
  border: 0;
}

.login-form {
  margin: 0 auto;
  width: 95%;
  top: 50px;
  padding-right: 7px;
}

input.login-input {
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: #4a87ee;
  border-radius: 0;
  color: #4a87ee;
}

input.meetup-input {
  color: #4a87ee;
}

.signup-button {
  margin: 0 auto;
  padding-top: 40px;
}

.item {
  border-color: #4a87ee;
  border-width: 0;
}

.group-button {
  color: #4a87ee;
}

.icon {
  font-size: 14px;
}

h2 {
  color: #4a87ee;
}

ion-header-bar {
  box-shadow:0px 1px 5px #afafaf
}

ion-footer-bar {
  box-shadow:1px 0px 5px #afafaf
}

.course-title {
  color: #4a87ee;
}

.bar-positive .button.button-clear {
  font-size: 24px;
}

.bar-positive .button.button-clear.button-footer {
  font-size: 17px;
}

.meetup-title {
  color: white;
}
