<ion-view view-title="Groups">
  <ion-header-bar class="bar bar-positive">
    <div class="button button-clear">
      <a class="button button-clear ion-chevron-left" ui-sref="courses"></a>
    </div>
    <h1 class="title"><b>{{currentCourse.title}}</b></h1>
    <a class="button button-clear">
      <a class="button ion-plus button-clear" ui-sref="addGroup"></a>
    </a>
  </ion-header-bar>
  <ion-content>
    <ion-list can-swipe="true" show-delete="false">
      <ion-item class="item-text-wrap" ng-repeat="group in groups track by $index" ng-click="loadGroup(group, $index)">
        <b class="course-title">{{group.title}}</b>
        <a class="button button-clear arrow-button icon" ng-class="group.title == 'Project 1' ? 'ion-chatbubble button-assertive' : 'ion-chevron-right button-positive'"></a>
        <ion-option-button class="button-assertive" ng-click="remove(group, $index)">
          Leave
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
