<ion-view view-title="Chat">
  <ion-header-bar class="bar-stable">
    <div class="button button-clear">
      <a class="button button-dark button-clear ion-chevron-left" ui-sref="groups"></a>
    </div>
    <h1 class="title">{{currentGroup.title}} Chat</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="chat in chatroom.chats">
        <div class="card">
          <div class="item item-divider">
            {{chat.username}}
          </div>
          <div class="item item-text-wrap">
            <p>{{chat.text}}</p>
            <div class="button button-clear" ng-click="likeChat(chat, $index)">
              <button class="button button-clear button-stable" ng-class="chat.liked ? 'ion-ios-heart' : 'ion-ios-heart-outline'"></button>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar-stable">
    <form ng-submit="addChat()" class="text-input">
      <input class="text-field" type="text" placeholder="Message" ng-model="chatroom.text" autofocus>
    </form>
  </ion-footer-bar>
</ion-view>
